html, body, #root {
	width: 100%;
	height: 100%;
}

/*--------Login--------*/
.form-login {
	padding: 40px;
	min-width: 350px;
}

.message {

}

/*--------Chat--------*/
.parent-chat {
	position: relative;
}

.accent-chat {
	min-height: 200px;
	border-bottom-left-radius: 20%;
	border-bottom-right-radius: 20%;
	background-color: #0097a7;
	position: absolute;
	width: 100%; 
	z-index: -1;
}

.container-chat {
	padding: 0;
	background-color: #eee;
	box-shadow: 0px 0px 10px 0px #888;
	height: 100%;
	border-radius: 15px;
}

.component-chat {
	height: 100%;
}

/*--------Chat List--------*/
.chat-scroll {
	height: 100%;
	overflow-y: scroll;
}

.title {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.title .avatar{
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
  border-radius: 20px;
  color: #fff;
}

.title span {
  padding-left: 20px;
  font-size: 20px;
  font-weight: bold;
  flex:1;
}

.title button {
  border: 0;
  width: 40px;
  height: 40px;
  color: #ff0000;
  background-color: transparent;
}

.search-bar{
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-right: 1px solid #eee;
}

.search-bar input{
  width: 95%;
  height: 80%;
  border: 1px solid #fff;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
}

.chat-list {
	display: flex;
	flex-direction: column;
}

.chat-list .chat-item {
	height: 60px;
	background: #fff;
	border-top: 1px solid #eee;
	width: 100%;
	display: flex;
	align-items: center;
	padding: 0px 5px;
}

.chat-list .chat-item .chat-avatar {
	width: 40px;
	height: 40px;
	border-radius: 25px;
	background-color: #888;
}

.chat-list .chat-item .chat-content {
	padding-left: 10px;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: calc(100% - 40px);
}

/*--------Chat Room--------*/
.chat-ballon {
	margin: 5px
}

.chat-message {
	display: inline-block;
	padding: 10px;
	background-color: #0097a7;
	border-radius: 5px;
}

.chat-message.sender {
	background-color: #fff;
}

.chat-info {
  display: flex;
  align-items: center;
  background-color: #eee;
  padding: 10px;
  border-top-right-radius: 5px;
}

.chat-info .avatar {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.chat-info .name {
  padding-left: 20px;
}

.chat-container {
  height: calc(100% - 120px);
  overflow: scroll;
  padding: 10px;
  background-color: #ccc;
}

.chat-input {
  height: 60px;
  background-color: #eee;
  display: flex;
  padding: 10px;
}

.chat-input input{
  border: 0px;
  border-radius: 20px;
  width: 100%;
  padding: 0 10px;
}

.chat-input button {
  border: 1px solid #000;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-input input:focus, .chat-input button:focus{
  outline: none;
}